

body {
	background: #e1e1e1;
  font-family: 'Vollkorn-Regular';
}

h1{
	color: rgba(0, 0, 0, 0.85);
  font-size: 38px;
  font-weight: bold;
  margin-top: 66px;
  line-height: 45px;
}

h2{
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.8);
}

p{
  text-align: justify;
  word-spacing: -1.5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.cont{
  color: rgb(43, 41, 44);
}

blockquote{
  margin-top: 20px;
  font-style: italic;
  margin-left: 100px;
  margin-bottom: 20px;
}

h3{
  font-size: 18px;
  font-weight: bold;
}

h4{
  font-size: 18px;
  font-weight: bold;
}

a{
	text-decoration: none;
	color: rgb(143, 100, 149);
}
a:hover{
	color: rgb(140, 109, 158);

}

.pic1{
  width: 25%;
  margin: 2%;
  border-radius: 10px;
}

article{
  width: 700px;
  margin: 50px auto; /* внешний отступ */
}

ol{
  list-style-type: decimal; 
 }



/*h1 + hr + p + p {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  line-height: 32px;
} по классу обращаться удобнее, но так тоже можно */
