nav{
  border: 1px solid rgb(169, 174, 188);
  background: #e1e1e1;
  /* border - обводка */
  width: 300px; /* ширина навигационного меню */
  position: fixed; /* позиция привязана к точке на экране */
  top: 25px;
  margin-left: 10px;
  padding: 10px;
  box-sizing: border-box;
  opacity: .3; /* 30 %*/
  transition: all 1s ease;
  height: 90vh;
  overflow-y: scroll;
}

nav:hover{
  opacity: 1; /* 100% */
  transition: all 0.9s ease;
}

nav p{
  margin-bottom: 0.5%;
}
